:root {
  --container-width: 1670px;
  --container-padding: 15px;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  font-family: "Poppins", sans-serif;
  background-color: #000;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
.container-right {
  padding-left: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
}

/* header-------------------------------- */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 148px;
  background-color: #000;
  z-index: 500;
}
.header__wrap {
  display: flex;
  margin-top: 46px;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__img {
  display: inline-block;

  max-width: 45px;
  max-height: 42px;

  margin-right: 17px;
}
.header__link {
  font-weight: 800;
  font-size: 37px;

  color: inherit;
}
.header__nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  padding: 0 15vw 0 0;
}
.nav-list > *:not(:last-child) {
  margin-right: 40px;
}
.nav-list__item {
}
.nav-list__link {
  font-weight: 500;
  font-size: 20px;
  color: #707070;
  transition: color 0.3s ease-in 0s;
}
.nav-list__link:hover {
  color: #3c82f4;
}
/* burger */
.burger,
.slider {
  display: none;
}

/* button------------------------------------- */
.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-transform: capitalize;
  padding: 12px 22px;
  border-radius: 10px;
}
.btn_blue {
  color: #fff;
  background-color: #306ef7;
  transition: all 0.3s ease-in 0s;
}
.btn_blue:hover {
  background-color: #0640c1;
}
.btn_blue:active {
  box-shadow: inset 0px 0px 4px 0px #adabab;
  transform: translate3d(0px, -2px, 20px);
}
.btn_gray {
  color: #707070;
  border: 2px solid rgba(112, 112, 112, 0);
  transition: all 0.3s ease-in 0s;
}
.btn_gray:hover {
  border: 2px solid #707070;
  color: #306ef7;
}
.btn_gray:active {
  box-shadow: inset 0px 0px 4px 0px #adabab;
  transform: translate3d(0px, -2px, 20px);
}

@media screen and (max-width: 4000px) {
  .nav-list {
    padding: 0 9vw 0 0;
  }
}
@media screen and (max-width: 3600px) {
  .nav-list {
    padding: 0 10vw 0 0;
  }
}
@media screen and (max-width: 3200px) {
  .nav-list {
    padding: 0 11vw 0 0;
  }
}
@media screen and (max-width: 2800px) {
  .nav-list {
    padding: 0 12vw 0 0;
  }
}
@media screen and (max-width: 2600px) {
  .nav-list {
    padding: 0 15vw 0 0;
  }
}
@media screen and (max-width: 2300px) {
  .nav-list {
    padding: 0 16vw 0 0;
  }
}
@media screen and (max-width: 2000px) {
  .nav-list {
    padding: 0 20vw 0 0;
  }
}
@media screen and (max-width: 1700px) {
  .nav-list {
    padding: 0 19vw 0 0;
  }
}
@media screen and (max-width: 1500px) {
  .nav-list {
    padding: 0 16vw 0 0;
  }
}
@media screen and (max-width: 1300px) {
  .nav-list {
    padding: 0 13vw 0 0;
  }
}
@media screen and (max-width: 1200px) {
  .nav-list {
    padding: 0 9vw 0 0;
  }
}
@media screen and (max-width: 1070px) {
  .nav-list {
    padding: 0 7vw 0 0;
  }
}
@media screen and (max-width: 1000px) {
  .nav-list {
    padding: 0 5vw 0 0;
  }
}

@media screen and (max-width: 992px) {
  .header {
    min-height: 100px;
  }
  .header__wrap {
    margin-top: 22px;
  }
  .main {
    margin-top: 100px;
  }

  .header__wrap .header__nav,
  .header__buttons {
    display: none;
  }
  .burger {
    display: flex;
    align-items: center;
  }
  .burger__field {
    padding: 10px 20px;
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #306ef7;
    transition: all 0.3s ease 0s;
  }
  .slider {
    position: fixed;
    top: 100px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 20;
    display: flex;
    transition: all 0.3s ease 0s;
  }
  .slider.open {
    left: 0;
  }
  .slider .header__nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    padding: 5px 0;
    overflow: auto;
  }
  .slider .header__buttons {
    width: 100%;
    max-height: 20%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding: 30px 0;
  }
  .burger__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(225deg);
  }
  .burger__field.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-225deg);
  }
  body.noscroll {
    overflow: hidden;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0;
  }

  .nav-list > *:not(:last-child) {
    margin: /*0px 0px 30px*/ 0px;
  }
  .nav-list__link,
  .btn_gray {
    color: #fff;
  }
  .nav-list__link {
    font-size: 26px;
  }
  .header__nav .header__buttons .btn {
    font-size: 26px;
    margin: 0px 10px;
  }
  .header__nav .header__buttons .btn_gray {
    border: 2px solid #707070;
  }
  .nav-list__item {
    padding: 20px 0;
    text-align: center;
  }
  .nav-list__item:hover {
    background-color: rgb(50 108 249 / 18%);
    backdrop-filter: blur(1rem);
  }
}
@media screen and (max-width: 425px) {
  .header__link {
    font-size: 30px;
  }
  .header__img {
    max-width: 36px;
    max-height: 36px;
    margin-right: 10px;
  }
  .nav-list {
  }
  .nav-list__item {
    padding: 15px 0;
  }
  .slider .header__buttons {
    max-height: 20%;
    flex-direction: column;
    padding: 15px 0;
    justify-content: initial;
  }
  .header__nav .header__buttons .btn {
    font-size: 24px;
    margin: 0px 5px;
    padding: 7px 20px;
  }
  .header__nav .header__buttons .btn_gray {
    margin: 0px 0px 15px 0px;
  }
}

/* main */
.main {
  margin-top: 100px;
}
/* audience------------------------------------------- */

.audience {
  padding: 82px 15px 94px;
}

.audience__title {
  text-align: center;
  font-weight: 700;
  font-size: 112px;
  margin-bottom: 137px;
  line-height: 1.2;
}
.audience__title span {
  background: linear-gradient(90deg, #fe6783 1.9%, #ffbf84 97.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*line-height: normal;*/
}

.audience__box {
  max-width: 694px;
  margin: 0 auto;
  text-align: center;
}
.audience__text {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.5;
  vertical-align: top;
  margin-bottom: 55px;
}
.audience__buttons {
  margin-bottom: 16px;
}
.btn_blue--audience {
  padding: 24px 74px;
  margin-right: 25px;
}
.btn_gray--audience {
  padding: 24px 90px;
  border: 2px solid #707070;
}
.audience__counter {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  color: #707070;
}
.audience__counter span {
  display: inline-block;
  position: relative;
  font-weight: 700;
  color: #fff;
}
.audience__counter span::before {
  content: url(../images/home/Dot.svg);
  position: absolute;
  display: inline-block;
  top: 3px;
  left: -61px;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .audience {
    padding: 60px 15px 94px;
  }
  .audience__title {
    font-size: 100px;
    margin-bottom: 80px;
    padding: 5px 0px;
  }
}
@media screen and (max-width: 1100px) {
  .audience {
    padding: 60px 15px 80px;
  }
  .audience__title {
    font-size: 88px;
    margin-bottom: 40px;
  }
  .audience__text {
    font-size: 26px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 992px) {
  .audience {
    padding: 10px 15px 60px;
  }
  .audience__title {
    font-size: 76px;
    margin-bottom: 32px;
  }
  .audience__text {
    font-size: 22px;
  }
  .btn_blue--audience {
    padding: 20px 50px;
    margin-right: 5px;
  }
  .btn_gray--audience {
    padding: 19px 60px;
  }
  .audience__counter {
    font-size: 18px;
  }
  .audience__counter span::before {
    top: 0px;
    left: -49px;
    width: 80%;
  }
}

@media screen and (max-width: 880px) {
  .audience__title {
    font-size: 70px;
  }
  .audience__text {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .btn_blue--audience {
    padding: 16px 28px;
  }
  .btn_gray--audience {
    padding: 14px 42px;
  }
  .audience__counter {
    font-size: 16px;
  }
  .audience__counter span::before {
    top: -4px;
    left: -40px;
  }
}

@media screen and (max-width: 768px) {
  .audience__title {
    font-size: 64px;
  }
  .audience__text {
    font-size: 18px;
  }
  .btn_blue--audience {
    padding: 16px 28px;
    font-size: 18px;
  }
  .btn_gray--audience {
    padding: 14px 42px;
    font-size: 18px;
  }
}

@media screen and (max-width: 710px) {
  .audience__title {
    font-size: 56px;
  }
}
@media screen and (max-width: 610px) {
  .audience {
    padding: 10px 15px 40px;
  }
  .audience__title {
    font-size: 50px;
  }
}
@media screen and (max-width: 550px) {
  .audience {
    padding: 10px 5px 60px;
  }
  .audience__title {
    font-size: 46px;
  }
}
@media screen and (max-width: 450px) {
  .audience__text {
    font-size: 16px;
  }
  .btn_blue--audience {
    padding: 16px 22px;
    font-size: 16px;
    margin-right: 0;
  }
  .btn_gray--audience {
    padding: 14px 35px;
    font-size: 16px;
  }
  .audience__counter {
    font-size: 14px;
    margin-left: 35px;
  }
  .audience__buttons {
    display: flex;
    flex-direction: column;
  }
  .audience__buttons > *:not(:last-child) {
    margin-bottom: 15px;
  }
}

/* section-header */
.section-header {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.section-header__suptitle {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.52;
  text-transform: uppercase;
  color: #3d82f2;
}
.section-header__title {
  font-weight: 600;
  font-size: 75px;
  line-height: 1.5;
  color: #ffffff;
  text-transform: capitalize;
}
.section-header__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.18;

  color: #707070;
}

/* choose-us */

.choose-us {
  text-align: center;
  padding: 94px 15px 81px;
}
.choose-us_title {
  margin-bottom: 64px;
}
.choose-us-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.choose-us-list__item {
}
.choose-us_item {
  padding: 0px 10px;
}
.choose-us_item__img {
  width: 40px;
  height: auto;
}
.choose-us_item__title {
  display: inline-block;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 35px;
  line-height: 1.48;
  margin-bottom: 10px;
}
.choose-us_item__description {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  color: #707070;
}

@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1100px) {
  .choose-us {
    padding: 80px 15px 81px;
  }
  .choose-us_title {
    margin-bottom: 50px;
  }
  .section__title {
    font-size: 70px;
  }
  .choose-us_item__img {
    width: 30px;
    height: auto;
    vertical-align: initial;
  }
  .choose-us_item__title {
    font-size: 30px;
  }
  .choose-us_item__description {
    font-size: 20px;
  }
}
@media screen and (max-width: 992px) {
  .choose-us {
    padding: 60px 15px 81px;
  }
  .section__title {
    font-size: 64px;
  }
  .choose-us-list {
    flex-wrap: wrap;
  }
  .choose-us_item {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 880px) {
  .section__title {
    font-size: 58px;
  }
  .choose-us_item {
    flex: 0 0 100%;
  }
  .choose-us_item {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 768px) {
  .section__title {
    font-size: 52px;
  }
  .choose-us_title {
    margin-bottom: 35px;
  }
  .choose-us_item__title {
    font-size: 28px;
  }
  .choose-us_item__img {
    width: 25px;
  }
  .choose-us_item__description {
    font-size: 18px;
  }
}
@media screen and (max-width: 710px) {
  .section__title {
    font-size: 48px;
  }
}
@media screen and (max-width: 610px) {
  .choose-us {
    padding: 40px 15px 81px;
  }
  .section__title {
    font-size: 44px;
    margin-bottom: 30px;
  }
  .choose-us_item__title {
    font-size: 26px;
  }
  .choose-us_item {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 550px) {
  .section__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 450px) {
  .choose-us_item {
    padding: 0px;
  }
}

/*backdrop-filter: blur(1rem);*/

/*connect*/
.connect {
  padding: 91px 0px;
}
.connect__button {
  display: flex;
  justify-content: center;
  margin-top: 34px;
  margin-bottom: 182px;
}
.btn_gray--connect {
  padding: 24px 38px;
  border: 2px solid #707070;
  margin: 0 auto;
  text-transform: capitalize;
}

.connect__spotify {
}
.spotify {
  display: flex;
}
.spotify__homepage {
  flex: 0 0 50%;
  line-height: 1.5;
}
.spotify__suptitle {
  font-weight: 500;
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 80px;
}
.spotify__title {
  font-weight: 600;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 27px;
}
.spotify__title span {
  text-transform: lowercase;
}
.spotify__title strong {
  color: #3c82f4;
}
.spotify__advantages {
  margin-bottom: 66px;
  margin-left: 38px;
}
.spotify__advantages li::marker {
  content: counter(list-item) "   ";
  color: #fff;
  font-size: 18px;
}
.spotify__advantages li::before {
  content: "";
  display: inline-block;
  position: absolute;
  background: #2d2d2d;
  clip-path: circle(50%);
  height: 32px;
  width: 32px;
  transform: translate3d(-36px, 0px, 0px);
  z-index: -1;
}
.spotify__advantages__item {
  font-weight: 400;
  font-size: 23px;
}
.spotify__buttons {
  margin-bottom: 118px;
}
.btn_blue--spotify {
  padding: 18px 22px;
  margin-right: 24px;
}
.btn_gray--spotify {
  padding: 16px 36px;
  background-color: rgba(112, 112, 112, 0.2);
  border: 2px solid #707070;
}
.spotify__screen {
  flex: 1 1 50%;
  position: relative;
}
.spotify__img {
  position: absolute;
  top: 0;
}
.spotify__shape {
}
